<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogResultFormat" value="[{date}] {from}: {text}" />
    <add key="LogName" value="TelegramLog_"/>
    <add key="TimestampFormat" value="dd-MM-yyyy-HH-mm-ss"/>
    <add key="IncludeTimestampInName" value="true"/>
  </appSettings>
</configuration>